{{define "footer"}}
<!-- 
@* ------------------------------------------------ *@
@* -                    footer                    - *@
@* ------------------------------------------------ *@
//-->
		<div id="foot">
			<div id="cntc">
				<div id="lone">
					<div id="spcr"></div>
					<div id="hdr">New York - NY</div>
					<div id="numb">+1 (419) 825.6241</div>
				</div>
				<div id="ltwo">
					<div id="spcr"></div>
					<div id="hdr">Curitiba - PR</div>
					<div id="numb">+55 (41) 8825.6750</div>
				</div>
				<div id="lthree">
					<div id="spcr"></div>
					<div id="hdr">Salvador - BA</div>
					<div id="numb">+55 (71) 9165.6392</div>
				</div>
			</div>
			<div id="dtls">
				<div id="lone">
					<div id="hdr">O Estúdio Gema</div>
					<div id="numb">
						Somos um estúdio de design criativo e inovador, que oferece serviços integrados de comunicação adaptados à necessidade de sua 
						empresa. Aliamos a excelência da comunicação com a criatividade e a inteligência do design.
					</div>
				</div>
				<div id="ltwo">
					<div id="hdr">Serviços</div>
					<div id="numb">
						<UL>
							<LI>Websites 
							<LI>Mobile Apps 
							<LI>Identidade Visual
							<LI>Ilustração
							<LI>Folders
						</UL>
						<UL class="right">
							<LI>Banners 
							<LI>Editoriais 
							<LI>Embalagens
							<LI>Flyers
							<LI>Impressos
						</UL>
					</div>
				</div>
				<!--
				<div id="ltwo">
					<div id="hdr">Nosso endereço</div>
					<div id="numb">
						<img src="http://maps.googleapis.com/maps/api/staticmap?center=Trade+Center+Torre+Norte+Sala+2211+-+Av.+Tancredo+Neves,+1632+-+Caminho+das+Árvore,+Salvador&zoom=15&size=288x120&sensor=false&key=AIzaSyAuXEEdlYPKW-KYrDupd04_stQQeDlIrIo">
						Trade Center Torre Norte Sala 2211 -
						Av. Tancredo Neves, 1632 - Caminho das Árvore, Salvador
					</div>
				</div>
				//-->
				<div id="lthree">
					<div id="hdr">Siga-nos</div>
					<div id="fb"><a href="https://www.facebook.com/gemaestudiodeideias"></a></div>
					<!--
					<div id="tw"><a href="TW"></a></div>
					//-->
					<div id="bh"><a href="http://www.behance.net/estudiogema"></a></div>
				</div>
			</div>
			<div id="hr_line" style="top: 246px;"></div>
			<div id="cr">&copy;copyright Gema Comunicação</div>
		</div>
	</body>
</html>
{{end}}